.publishedDate {
  margin: 0;
  opacity: 0.9;
}

.reviews {
  width: 100%;
  margin-bottom: 55px;
}

.reviewsAvatar {
  display: block;
  border-radius: 50%;
}

.reviewsAvatarWrapper {
  min-width: 54px;
  width: 54px;
  height: 54px;
}

.reviewsList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reviewsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 22px;
  gap: 24px;
  border-radius: 24px;
  border: 1px solid #5d5d5d;
  padding: 24px;
  background-color: #f2f1ec;
}

.reviewText {
  margin: 0;
  color: #383838;
  margin-bottom: 12px;
  opacity: 0.7;
}

.reviewTitle {
  margin: 0;
  margin-bottom: 12px;
}

.reviewsTitle {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 24px;
  line-height: 1.1667;
  font-weight: 700;
  font-style: oblique;
  color: #000;
  text-align: center;
}
