.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 58px;
  padding-right: 58px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: hidden;
}

.search {
  background-color: #f5f5f5;
}

.searchContainer {
  padding: 0 116px;
}

.searchForm {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.searchInput {
  flex-grow: 1;
}
