.favoriteButton {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  padding: 0;
  background: 0 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  text-align: center;
  word-break: break-word;
  word-wrap: wrap;
  overflow-wrap: break-word;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  outline: 0;
}

#favoriteIcon {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  -webkit-transition: fill 0.2s, stroke 0.2s;
  transition: fill 0.2s, stroke 0.2s;
}

.favoriteButton:focus #favoriteIcon,
.favoriteButton:hover #favoriteIcon {
  stroke: #ff5d5d;
  fill: #ff5d5d;
}
.favoriteButtonActive #favoriteIcon {
  stroke: #ff5d5d;
  fill: #ff5d5d;
}

.card {
  width: 260px;
  margin-left: 8px;
  margin-bottom: 24px;
  position: relative;
}

.card:hover {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.cardName {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 1.223;
  font-weight: 700;
  font-style: oblique;
}

.cardName a {
  display: inline-block;
}

.cardName a:focus,
.cardName a:hover {
  opacity: 0.7;
}

.cardType {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.1667;
}

.image {
  display: block;
  border-radius: 4px;
}

.imageWrapper {
  margin-bottom: 9px;
}

.info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mark {
  position: absolute;
  top: -5px;
  left: -3px;
  padding: 5px 15px 5px 9px;
  font-size: 12px;
  line-height: 1.1667;
  font-weight: 700;
  color: #fff;
  background-color: #4481c3;
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  border-radius: 3px;
}
.mark span {
  display: block;
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

.price {
  margin-right: 20px;
}

.priceValue {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}

.priceText {
  font-size: 12px;
  line-height: 1.1667;
}

.priceWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
}

.rating {
  margin-bottom: 6px;
}

.reviews {
  font-size: 14px;
  margin-left: 6px;
}

.sponsor {
  position: absolute;
  top: 145px;
  left: 3px;
  padding: 5px 15px 5px 9px;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  background-color: #e0e0e0;
  border-radius: 6px;
}
